<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rajdhani&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>
<style>
    body {
    background-color: #292D3E;
    margin: 0;
    font-family: 'Questrial', sans-serif;
    text-align: center;
}

.navbar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(228,23,180,1) 33%, rgba(4,194,201,1) 70%, rgba(2,67,69,1) 100%);
    overflow: hidden;
    color: white;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}

.navbar a {
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.navbar a.hover {
    background-color: transparent;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 200px;
}

.body {
    text-align: center;
}

button {
    background-color: purple;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    color: white;
    margin-bottom: 1pc;
}

button:hover {
    transform: scale(1.1);
  }

.footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(#292D3E);  
}

.title {
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-size: 100px;
}

label {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}
ul#ulli{
    list-style-type: none;
    color: white;
    font-size: 40px;
}
.link{
    text-decoration: none;
    color: white;
}

</style>
<body>
    <body>
        <div class="navbar">
            <a class="active" href="/videos/home">Home</a>
            <a href="/videos/upload">Upload</a>

            <a href="/videos/browse">Browse</a>
            <!---<a href="/videos/browse">Browse</a>-->
            <a href="/login">Login</a>
            
    
        </div>
        <div class="grid"></div>
            <div>
            <ul id="ulli">
                <div>
                <% videos.forEach ( video => { %>
                    
                        <li><%= video.title %></li>
                        <li><a class ="link" href="<%= video.links %>">youtube link</a></li>
                        <li>#<%= video.categories%></li>
                        <li>views: <%= video.views %></li><br>
                    <section>
                        <form action="/videos/browse/<%= video._id %>" method="DELETE">
                            <button type="submit">Delete</button>
                        </form>
                    </section>
                    <section>
                        <form action="/videos/browse/<%= video._id %>/edit" method="POST">
                            <button type="submit">Edit</button>
                        </form>
                    </section>
                       
                <% }) %>
                </div>
             </ul>
            </div>      
    </div>
   
        

    </div>
   
    
</body>
</html>